
.divhome#divhomebanners a.linkbanners {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    position: relative;
    margin-bottom: 1rem;
    height: 150px;
    opacity: .9;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.divhome#divhomebanners a.linkbanners:hover {
    opacity: .7;
}
.divhome#divhomebanners a img:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.divhome#divhomebanners a img {
    max-width: 100%;
    border-radius: 12px;
}
.divhome#divhomebanners a div {
    position: absolute;
    z-index: 1000;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 15px;
    text-transform: uppercase;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: .5px;
}

#acreditacao, #diadasmaes, #olimpiadas, #acreditacao2 {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 12px;
}

#manutencao {
    background-image: url(../img/manutencao.jpg);
    background-size: cover;
    border-radius: 12px;
    color: #fff;
    text-shadow: 0 0 6px black;
    text-align: center;
}

#diadospais {
    background-image: url(../img/promo/diadospais.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 12px;
}

.divhome#divhomebanners a div#divmanutencao {
    top: 50%;
}

#olimpiadas {
    background-image: url(../img/olympics2.jpg);
    color: rgb(43, 43, 43);
}
#confra {
    background-image: url(../img/lonatto.jpg);
    background-size: cover;
    color: rgb(49, 49, 49);
    border-radius: 12px;
    text-shadow: 0px 0px 6px white;
}
#formaturaInfantil {
    background-image: url(../img/bg_formaturaInfantil.jpg);
    color: white;
    background-position: center right;
    border-radius: 12px;
}

#formaturaMedio9 {
    background-image: url(../img/bg_formaturaMedio9.jpg);
    background-position: center center;
    background-size: cover;
    border-radius: 12px;
    color: black;
    text-shadow: 0px 0px 10px rgb(192, 192, 192);
    letter-spacing: 2px;
}