#divhomeproxaniversariantes {
    background-color: #fff;
    padding: 20px;
    box-shadow: (0, 0, 0, 0.16) 0px 1px 4px;
    height: 480px;
}
.tituloproximosanivers, .titulodivhomelinksrapidos {
    color: #253B73;
    color: #B52532;
    font-weight: bold;
    font-size: 18px;
    padding: 0 0 1rem 0;
}


.titulodivhomelinksrapidos {
   
    color: #B52532;
    font-weight: bold;
    font-size: 18px;
    padding: 1rem;
}

.titulocalendario {
    color: #253B73;
    color: #B52532;

    font-weight: bold;
    font-size: 18px;
    padding: 1rem;
}


.titulolinksrapidos {
    color: #253B73;
    font-weight: bold;
    font-size: 18px;
    padding: 1rem;
}


.proximosaniversariantes {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 16px 0;
}
.proximosaniversariantes .fotoaniv {
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.proximosaniversariantes .fotoaniv img {
    max-width: 100%;
    border-radius: 50%;
    border: 3px solid #253B73;
    border: 3px solid #000;
}
.nome {
    padding: 6px 14px 0 6px;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Roboto';
}
.nome span {
    color: gray;
    font-weight: 400;
    font-family: 'Roboto';
    padding-left: 4px;
}
.data {
    text-align: center;
    background-color: #253B73;
    border-radius: 10px;
    color: white;
    font-size: 14px;
    font-family: 'Roboto';
    padding: 6px 10px;
}   
.mais {
    font-family: 'Roboto Condensed';
    font-weight: 600;
    font-size: 18px;
    color: #253B73;
    display: inline-block;
    text-align: center;
    margin: 10px 0;
    border: 2px solid #253B73;
    padding: 4px 16px;
    border-radius: 10px;
}
.maisBox {
    text-align: right;
}