#divhomeproxaniversariantes {
    background-color: #fff;
    padding: 20px;
    box-shadow: (0, 0, 0, 0.16) 0px 1px 4px;
}
.tituloproximosanivers, .titulodivhomelinksrapidos {
    color: #253B73;
    color: #B52532;
    font-weight: bold;
    font-size: 18px;
    padding: 0 0 1rem 0;
}
.titulodivhomelinksrapidos {
   
    color: #B52532;
    font-weight: bold;
    font-size: 18px;
    padding: 1rem;
}
.titulocalendario {
    color: #253B73;
    color: #B52532;
    font-weight: bold;
    font-size: 18px;
    padding: 1rem;
}
.titulolinksrapidos {
    color: #253B73;
    font-weight: bold;
    font-size: 18px;
    padding: 1rem;
}
.proximosaniversariantes {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 16px 0;
}
.proximosaniversariantes .fotoaniv {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.proximosaniversariantes .fotoaniv img {
    max-width: 100%;
    border-radius: 50%;
    border: 1px solid #e7e7e7;
    /* box-shadow: 10px 10px 10px rgba(0,0,0,0.1) inset, 15px 25px 10px rgba(0,0,0,0.05), 15px 20px 20px rgba(0,0,0,.05), inset -10px -10px 15px rgba(255,255,255,0.9); */
}
.nome {
    padding: 6px 14px 0 6px;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Roboto';
}
.nome span {
    color: rgb(160, 160, 160);
    font-weight: 400;
    font-family: 'Roboto';
    padding-left: 4px;
}
.data {
    text-align: center;
    background-color: #253B73;
    border-radius: 10px;
    color: white;
    font-size: 14px;
    font-family: 'Roboto';
    padding: 6px 10px;
}   
.mais {
    font-family: 'Roboto Condensed';
    font-weight: 600;
    font-size: 18px;
    color: #253B73;
    display: inline-block;
    text-align: center;
    margin: 10px 0;
    border: 2px solid #253B73;
    padding: 4px 16px;
    border-radius: 10px;
}
.maisBox {
    text-align: right;
}