.conteinerescalas {
    display: flex;
    flex-direction: column;
    border-radius: 0 0 12px 12px;
    background-color: #fff;
}
.primeiraescala {
    border-top: .5px solid #e2e2e2;
}
.escala {
    background-color: #fff;
    border-bottom: .5px solid #e2e2e2;
    /* padding: 1rem 0; */
    padding: 1rem 1.6rem;
    display: grid;
    /* grid-template-columns: 1fr 5fr; */
    grid-template-columns: 1fr;
    gap: 0;
    transition: .3s;
    position: relative;
}

.icon {
    /* display: flex; */
    display: none;
    justify-content: center;
    align-items: center;
}
.icon img {
    width: 1rem;
}
.tituloescala {
    font-size: .9rem;
    color: #B52532;
    color: black;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}
.contentescala {
    color: #575757;
    font-weight: 500;
    font-size: .8rem;
    font-family: 'Roboto', sans-serif;
    padding: 5px 40px 0 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

.escala:hover {
    /* background-color: #f5f5f5; */
    cursor: pointer;
    transform: scale(1.05);
}

.horarioculto {
    color: #000;
    font-weight: 700;
    margin-right: .2rem;
}
.responsavelculto {
    margin-right: .6rem;
}
#celebra, #celebra1, #celebra2 {
    color: gray;
}
i.seta {
    color: #B52532;
    color: #a3a3a3;
    font-size: 14px;
    position: absolute;
    right: 1.5rem;
    top: 50%;
    transform: translate(0, -50%);
}