body {
    background-color: #fff;
}
header {
    width: 95%;
    margin: 1rem auto !important;
}
.main-matriculas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
    max-width: 1440px;
    margin: 3rem auto 0 auto;
    width: 90%;
}
.sec-matriculas {
    margin-top: 1rem;
    width: 100%;
}

.sec-matriculas p {
    width: 90%;
    margin: auto;
    padding: .5rem 1rem;
    border-radius: 30px;
    font-size: .8rem;
    color: #BB2532;
    color: #232b68;
    background-color: #ffecee;
    background-color: #cfd4fb;
    font-weight: 600;
}

.linksprincipais {
    height: fit-content;
    margin: .5rem auto;
    padding: 1rem;
    display: flex;
    align-items: start;
    flex-wrap: wrap;
    border-radius: 10px;
    /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px; */
}
.linksprincipais a {
    font-size: 14px;
    padding: .5rem 1rem;
    border-radius: 30px;
    margin: .3rem;
    border: 1px solid gray;
    color: gray;
    transition: ease .3s;
}
.linksprincipais a:hover {
    background-color: rgb(229, 229, 229);
}


#novoatendimento {
    background-color: #232b68;
    color: #fff;
    border: 2px solid #232b68;
}

#novoatendimento:hover {
    background-color: #cfd4fb;
    color: #232b68;
}

.sistemas {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.sistemas a {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: .8rem;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    color: gray;
    transition: .4s;
}

.sistemas a:hover {
    background-color: rgb(228, 228, 228);
}

.sistemas a img {
    width: 3rem;
}

.sistemas a div {
    font-size: .7rem;
    padding-top: .5rem;
}

@media (max-width: 1100px) {
    .main-matriculas {
        grid-template-columns: 1fr 1fr;
    }
    .sec-matriculas {
        height: fit-content;
    }

}


@media (max-width: 740px) {
    .main-matriculas {
        grid-template-columns: 1fr;
    }

}

#btBolsistas {background-color: #0FFF50; color: #103f1c; font-weight: 600;border: 1px solid lightgreen;}
    #btBolsistas:hover {background-color: rgb(127, 255, 127); color: rgb(34, 51, 34); font-weight: 600;}