body {
    margin: 0;
    padding: 0;
}

#ramais-do-menu {
    cursor: pointer;
    display: inline-block;
    padding: 4px;
    background-color: #fff;
    color: #253B73;
    border-radius: 4px;
    font-size: 1.3rem;
    margin: 0 .6rem;
    border: none;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: white;
    border-radius: 1rem;
    padding: 2rem;
    width: 90%;
    max-width: 400px;
    height: 96vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    position: relative;
    animation: fadeIn 0.3s ease;
}

.ramais-list {
    list-style: none;
    padding: 0;
    margin: 0;
    flex-grow: 1;
    /* aproveita o espaço vertical disponível */
    overflow-y: auto;
}

.modal-content h2 {
    font-size: 1.25rem;
    margin-bottom: 1rem;
    text-align: center;
    color: #333;
}

.ramais-list li {
    padding: 0.5rem 0.75rem;
    border-bottom: 1px solid #eee;
    font-size: 0.95rem;
    color: #333;
    display: flex;
    justify-content: space-between;
}

.ramais-list li:hover {
    background-color: whitesmoke;
}

.close-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: transparent;
    border: none;
    font-size: 1.25rem;
    cursor: pointer;
    color: #666;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}