.sec-banners {
    background-color: #fff;
    margin: 2rem auto;
    border-radius: 20px;    
    width: 98%;
    padding: 0 0 4rem 0;
}

.sec-banners div {
    background-color: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.sec-banners h1 {
    font-size: 3rem;
    text-align: center;
    padding: 4rem 0 1rem 0;
    color: #253B73;
}

.linkeventos  {
    text-align: center;
    margin: auto;
    display: block;
    padding: 1rem 2rem;
    margin-bottom: 2rem;
    border-radius: 10px;
    width: 300px;
    cursor: pointer;
}

.sec-banners div a {
    height: 145px;
    margin: 2rem;
    width: 280px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    text-transform: uppercase;
    font-family: 'Roboto condensed';
    font-weight: 600;
}

.sec-banners a:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
#mentesfortes {
    background-image: url(../img/cerebro.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-shadow: 0 0 6px black;
}
#natal {
    background-image: url(../img/bg_natal2.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: #281510;
    font-weight: 600;
    opacity: .9;
    text-shadow: 0px 0px 4px #ffd1c0;
}

#formaturaInfantil {
    background-image: url(../img/bg_formaturaInfantil.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

#formatura9M {
    background-image: url(../img/bg_formatura9Mazul.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-shadow: 0 0 4px black;
    color: white;
}


#mulher {
    background-image: url(../img/bannermulher.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-shadow: 0 0 4px black;
    color: white;
}


#pascoa2025 {
    background-image: url(../img/pascoa2025.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-shadow: 0 0 4px black;
    color: white;
}

#dezdias {
    background-image: url(../img/dezdias2025.jpg    );
    background-repeat: no-repeat;
    background-size: cover;
    text-shadow: 0 0 4px black;
}

#geracaofuturo {
    background-image: url(../img/logo_horizontal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-shadow: 0 0 4px black;
}


#semanasanta25 {
    background-image: url(../img/promo/semsantainf.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}