.sec_calendarios {
    background-color: #fff;
    padding: 2rem 0;
    width: 98%;
    max-width: 1500px;
    margin: 2rem auto;
    border-radius: 20px;
}

.sec_calendarios h1 {
    text-align: center;
    font-size: 28px;
    color: #253B73;
    margin-bottom: 3rem;
}

.box_calendarios {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.sec_calendarios div p {
    text-align: center;
    font-weight: 600;
}

.sec_calendarios a {
    border: 1px solid #FFFFFF;
    display: block;
    width: 100px;
    height: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    margin: 0 1.2rem;
}

.box_calendarios svg,
.box_calendarios svg+p {
    color: #253B73;
}

.sec_calendarios a:hover {
    background-color: #EEEEEE;
    transition: ease-in-out;
}

.dboxfooter {
    background-color: #000;
    height: 80vh;
    font-size: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

@media (max-width: 1200px) {
    .sec_calendarios div:first-of-type {
        width: 90%;
    }

}


@media (max-width: 800px) {
    .sec_calendarios {
        height: fit-content;
        padding: 6rem 0;
    }

    .sec_calendarios div a {
        margin-bottom: 2rem;
    }

    .sec_calendarios h1 {
        font-size: 28px;
    }

}