
.conteineraniversariantes {
    position: relative;
}

.conteineraniversariantes img {
    max-width: 100%;
    border-radius: 12px;
}

#aniver {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
}

.box-aniver-img {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 30px;
    position: relative;
    height: 100%;
    width: 100%;
    margin: auto;
}

.aniversariante {
    width: 100px;
    padding: 0 10px;
}

#anivBack {
    width: 100%;
}

#bt-aniver {
    width: 200px;
    background-color: #EDC7F9;
    outline: none;
    border-radius: 10px;
    color: #632f72;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 12px;
    padding: 1rem 0;
    text-align: center;
    transition: ease-in-out .3s;
    position: absolute;
    
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 50;
}

#bt-aniver:hover {
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.aniversariante img {
    border-radius: 50%;
    border: 2px solid rgb(105, 105, 105);
}

#aniver-img img {
    width: 60px;
    margin: 0 auto;
    display: block;
}

.aniver-nome {
    font-size: .75rem;
    width: 100%;
}

.aniver-nome, .aniver-funcao {
    font-family: 'Roboto Condensed';
    text-align: center;
    color: #632f72;
    font-weight: 600;
}

.aniver-funcao {
    font-weight: 500;
    font-size: .7rem;
    font-style: italic;
}

#legenda-aniver img {
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    border: 2px solid white;
}

.abrirList {
    color: rgb(160, 160, 160);
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: .5rem;
}