
.conteineraniversariantes {
    position: relative;
}

.conteineraniversariantes img {
    max-width: 100%;
    border-radius: 12px;
}

#aniver {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
}

.box-aniver-img {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 30px;
    position: relative;
    height: 100%;
    width: 100%;
    margin: auto;
}

.aniversariante {
    width: 100px;
    padding: 0 10px;
}

#anivBack {
    width: 100%;
}

#bt-aniver {
    width: 200px;
    background-color: #EDC7F9;
    outline: none;
    border-radius: 10px;
    color: #632f72;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 12px;
    padding: 1rem 0;
    text-align: center;
    transition: ease-in-out .3s;
    position: absolute;
    
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 50;
}

#bt-aniver:hover {
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.aniversariante img {
    border-radius: 50%;
    border: 2px solid rgb(105, 105, 105);
}

#aniver-img img {
    width: 60px;
    margin: 0 auto;
    display: block;
}

.aniver-nome {
    font-size: .75rem;
    width: 100%;
}

.aniver-nome, .aniver-funcao {
    font-family: 'Roboto Condensed';
    text-align: center;
    color: #632f72;
    font-weight: 600;
}

.aniver-funcao {
    font-weight: 500;
    font-size: .7rem;
    font-style: italic;
}

#legenda-aniver img {
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    border: 2px solid white;
}

.abrirList {
    color: rgb(160, 160, 160);
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: .5rem;
}

/* Código da página de aniversariantes antiga */

.conteinerAniv {
    width: 100%;
    height: 100vh;
    opacity: .95;
    background-image: linear-gradient(to bottom, #6d2db0, #7131b4, #7636b8, #7a3abc, #7e3ec0);
    position: absolute;
    z-index: 1000000;
    display: none;
    top: 0;
    left: 0;
}

.ocultar {
    display: none !important;
}

.content-aniversariantes {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* align-items: center; */
    min-width: 70%;
    /* height: 80vh; */
    background: #fff;
    padding: 2rem;
    position: absolute;
    box-shadow: 5px 5px 10px #70707090;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

p {
    text-align: center;
    font-weight: bolder;
}

#hoje {
    color: rgb(107, 107, 107);
    font-size: 0.8em;
}

#parabens {
    margin: .4rem;
    font-size: 1.8em;
    font-weight: 800;
    text-transform: uppercase;
    color: #6d2db0;
}

#fecharAniversariantes {
    /* margin-top: 1rem; */
    padding: 1rem 2rem;
    text-align: center;
    width: 260px;
    position: absolute;
    bottom: 10px;
    right: 50%;
    transform: translateX(50%);
    font-weight: 600;
    cursor: pointer;
    color: #fff;
    background-color: #6d2db0;
    border-radius: 10px;
}

#boxAniversariantes {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    min-height: 440px;
    overflow: auto;
    width: 100%;
}

.cardAniversariantes {
    background-color: #fff;
    /* background-color: #EDC7F9; */
    border-radius: 10px;
    width: 260px;
    height: 360px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 6fr 3fr 1fr 1fr;
    padding: 1.4rem;
    margin: 1rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border: 1px solid lightgray;
}

.nomeAniversariante {
    font-size: 1.4rem;
    font-weight: 800;
    text-align: center;
    color: rgb(50, 50, 50);
    font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
}

.nomeAniversariante::after {
    content: '';
    display: block;
    width: 120px;
    height: 3px;
    background: #6d2db0;
    margin: 1rem auto;
}

.funcaoAniversariante {
    font-size: 1rem;
    color: gray;
    text-align: center;
    font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
}

.fotoAniversariantes {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.foto {
    width: 150px;
    border-radius: 50%;
    border: 4px solid rgb(201, 201, 201);
}