* {
    scroll-behavior: smooth;
}
.box-proximoseventos {
    border-radius: 5px;
    position: relative;
    box-shadow: none;
}
.evento {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    padding: 5px;
    margin: 4px auto 4px auto;
    align-items: center;
    cursor: pointer;
    background-color: rgb(197, 244, 255);
    color: rgb(3, 78, 183);
    border-left: 5px solid rgb(80,185,250);
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}
.show {
    display: grid;
}
.filtros {
    display: none;
    grid-template-columns: repeat(4, 1fr);
    gap: 0;
}
.filtros div {
    text-align: center;
    background-color: #fff;
    /* background-color: #e7e7e7; */
    padding: 3px;
    font-size: .7rem;
    font-family: 'Roboto Condensed';
    color: rgb(111, 111, 111);
    font-weight: 500;
    border-radius: 3px;
    margin: 2px 1px;
}
div.todos {
    background-color: #253B73;
    color: #ececec;

}
.azul-padrao {
    background-color: rgb(197, 244, 255);
    color: rgb(3, 78, 183);
    border-left: 5px solid rgb(80,185,250);
}
.lilas {
    border-left: 6px solid rgb(163, 70, 250);
    background-color: rgb(238, 221, 255);
    color: rgb(95, 2, 182);
}
.ouro {
    border-left: 6px solid #FFA100;
    background-color: #f9e6c5;
    color: #ac6d00;
}
.verde {
    border-left: 6px solid rgb(84, 224, 156);
    background-color: rgb(189, 255, 223);
    color: rgb(2, 155, 81);
}
.gray {
    border-left: 6px solid rgb(143, 143, 143);
    background-color: rgb(232, 232, 232);
    color: rgb(62, 62, 62);
}
.data {
   display: flex;
   flex-direction: column;
}
.dias {
    display: flex;
    justify-content: center;
}
.dia, .dia2, .a, .diaU, .mes {
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: 600;
}
.dia, .dia2 {
    font-size: 1rem;
}
.diaU {
    font-size: 1.2rem;
}
.a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 .1rem;
}
.a, .mes {
    font-size: .6rem;
}
.descricao {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: .8rem;
    padding-left: 10px;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 16px;     /* fallback */
    max-height: 32px;      /* fallback */
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
}
.resp {
    display: flex;
    justify-content: center;
    align-items: center;
}
.resp img {
    width: 20px;
    border-radius: 50%;
    background-color: #fff;
}
.body-proximoseventos {
    height: 520px;
    overflow-y: scroll;
    padding-right: 4px;
}
.body-proximoseventos::-webkit-scrollbar {
    width: 7px;
}
.body-proximoseventos::-webkit-scrollbar-thumb {
    background-color: #d0d0d0;
    border-radius: 10px;
}
.body-proximoseventos::-webkit-scrollbar-thumb:hover {
    background-color: #b6b6b6;
}
.displayToggle {
    display:grid;
}