#divhomehorarios {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    max-height: 630px;
    overflow-y: scroll;
    scroll-padding: 1.5rem;
    display: none;
}
#divhomehorarios::-webkit-scrollbar {
    width: 0px;
}
#divhomehorarios::-webkit-scrollbar-thumb {
    background-color: #d0d0d0;
    border-radius: 10px;
    display: none;
}
#divhomehorarios::-webkit-scrollbar-thumb:hover {
    background-color: #b6b6b6;
    display: none;
}
.cardhorario {
    /* border: 1px solid red; */

    display: grid;
    grid-template-columns: 1fr 1fr 4fr 1fr 1fr;
    grid-template-rows: auto;

    padding: .5rem;
    border-bottom: 1px solid lightgray;
}
.turma {
    font-size: 1rem;
    font-weight: 600;
    color: #253B73;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;

}
.horariofoto {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.horariofoto img {
    width: 38px;
    border-radius: 50%;
}
.horarioinfo {
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
}
.turma, .nomeprof, .horariodisciplina, .horariotime span {
    font-family: 'Roboto Condensed', sans-serif;
}
.nomeprof {
    font-size: 1rem;
    font-weight: 700;
    padding: 0 0 0 .5rem;
    /* border: 1px solid blue; */
}
.horariodisciplina {
    font-size: .7rem;
    color: gray;
    padding: 0 0 0 .5rem;
    /* border: 1px solid blue; */
}
.horariotime {
    /* border: 1px solid red; */

    display: flex;
    justify-content: center;
    align-items: center;
}
.horariotime span {
    font-size: .6rem;
    padding: .3rem;
    height: fit-content;
    background-color: lightblue;
    color: #253B73;
    border-radius: 15px;
}
.proxhorario {
    display: flex;
    justify-content: space-around;
    align-items: center;

    /* border: 1px solid red; */

}