.linksuteis {
    height: fit-content;
}

.linksuteisbox {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

}

.linksuteis .img:hover {
    background-color: rgb(237, 237, 237);
}

.img {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    cursor: pointer;
    padding: 14px 0px;
    border-radius: 12px;
    margin: 4px;
    transition: all .3s;

}

.img img {
    width: 30px;
    object-fit: cover;
}
.box-ama {
    padding: 1px;
}
#ama {
    object-fit: fill;
}

.legenda-links {
    font-size: .7rem;
    font-family: 'Roboto Condensed', sans-serif;
    color: gray;
    padding-top: .5rem;
}
#bi {
    width: 57px;
}