@media only screen and (max-width: 998px) {
    
    #conteinerhome {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
        gap: 0px;
        max-height: 690px;
    }
    main {
        padding: 20px;
        width: 95%;
        box-sizing: border-box;
        margin: 0 auto;
        height: 260vh;
    }
    .body { 
        height: fit-content;
        background: linear-gradient(45deg,#24006b,#f42f8c);
    }
    .conteiner {
        width: 95%;
        display: grid;
        grid-template-columns: 1fr;
        gap: 0px;
        margin: 0 auto;
    }
    .divhome {
        margin-top: 2rem;
    }
    .conteiner {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, auto);
        gap: 3rem;
        margin: 0 auto;
    }
    .menu-dotted {
        display: none;
    }
    .menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 100%;
    }
    .menu a {
        margin: 1rem;
    }
    header {
        display: flex;
        flex-direction: column;
    }
    header a:first-of-type {
        margin: 1rem 0;
    }
    .box-cal-num {
        width: 80%;
        margin: 2rem auto;
        height: 300px;
    }
}