.sec-pedagogico {
    /* min-height: 100vh; */
    background-color: #A8DAF9;
<<<<<<< Updated upstream
    padding-bottom: 2rem;
=======
    padding-bottom: 4rem;
>>>>>>> Stashed changes
}
.sec-pedagogico h1 {
    font-size: 64px;
    padding: 2rem 0;
    text-align: center;
    color: #002c48;
}
.conteiner-pedagogico {
    width: calc(100% - 4rem);
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
}
@media (max-width: 900px){
    .sec-pedagogico {
        min-height: fit-content;
        }
    .conteiner-pedagogico {
        width: calc(100% - 2rem);
        grid-template-columns: 1fr;
    }
    .conteiner-pedagogico a {
        padding: 0 0 0 10px;
        font-size: 13px;    
    }
    .item-pedagogico {
        width: 80%;
        margin: 12px 0 12px 12px;
    }
}
.conteiner-pedagogico div p {
    padding: 1rem;
    background-color: #4093c7;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1rem;
    border-bottom: 1px solid white;
    text-align: center;
}
.conteiner-pedagogico a {
    text-decoration: none;
    list-style: none;
    padding: 0 0 0 20px;
    margin-bottom: 1rem;
    color: #00558a;
    font-weight: 600;
}
.pedagogico {
    background-color: #ecf7fe;
    padding-bottom: 1rem;
}
.conteiner-pedagogico .item-pedagogico {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 70%;
    margin: 18px 0 18px 30px;
}