.sec-linksrapidos {
    /* border: 1px solid red; */
    margin-top: 2rem;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #fff;
}

.sec-linksrapidos a {
    /* border: 1px solid black; */
    width: 120px;
    height: 80px;
    margin: 1rem;
    border-radius: 10px;
}
.sec-linksrapidos a:hover {
    background-color: whitesmoke;
}

@media (max-width: 900px) {
    .sec-linksrapidos a {
        width: 100px;
    }
}