.sec_calendarios {
    background-color: #fff;
    height: 70vh;
    padding: 6rem;
}

.sec_calendarios h1 {
    text-align: center;
    font-size: 64px;
    color: #253B73;
    margin-bottom: 3rem;
}

.sec_calendarios div:first-of-type {
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: auto;
    border-radius: 12px;
}

.sec_calendarios div p {
    text-align: center;
    font-weight: 600;
}

.sec_calendarios a {
    border: 1px solid #FFFFFF;
    display: block;
    width: 100px;
    height: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
}

.sec_calendarios a:nth-of-type(1):hover {
    border: 4px solid #B52532;
}

.sec_calendarios a:nth-of-type(2):hover {
    border: 4px solid #6298F5;
}

.sec_calendarios a:nth-of-type(3):hover {
    border: 4px solid #00AD3C;
}

.sec_calendarios a:nth-of-type(4):hover {
    border: 4px solid #861ab7;
}

.sec_calendarios a:nth-of-type(5):hover {
    border: 4px solid #f141fa;
}

.svg_dbox, .svg_dbox + p  {
    color: #B52532;
}

.svg_cac, .svg_cac + p {
    color: #6298F5;
}

.svg_educ, .svg_educ + p {
    color: #00AD3C;
}

.svg_pais, .svg_pais + p {
    color: #861ab7;
}

.svg_asp, .svg_asp + p {
    color: #f141fa;
}

.dboxfooter {
    background-color: #253B73;
    height: 80vh;
    font-size: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

@media (max-width: 1200px) {
    .sec_calendarios div:first-of-type {
        width: 90%;
    }
}


@media (max-width: 800px) {

    .sec_calendarios {
        height: fit-content;
    }

    .sec_calendarios div:first-of-type {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sec_calendarios div a {
        margin-bottom: 2rem;
    }

    
.sec_calendarios h1 {
    /* text-align: center; */
    font-size: 32px;
    /* color: #253B73; */
    /* margin-bottom: 3rem; */
    /* border: 1px solid red; */
}

}