* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    box-sizing: border-box;
}
.conteinergeral {
    width: 96%;
    max-width: 1500px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto auto auto;
    margin: auto;
    box-sizing: border-box;
}
#header {
    height: 60px;
    padding: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid blue; */
    justify-content: space-between;
}
#menu {
    display: flex;
    justify-content: center;
    align-items: center;
}
#menu a {
    display: block;
    margin: 0 10px;
    padding: 10px 25px;
    color: #0b1634;
    border-radius: 10px;
    transition: all ease-in-out .3s;
    text-decoration: none;
}
#menu a:hover {
    background-color: #253B73;
    color: #fff;
}
#logo {
    font-size: 1.5rem;
    font-weight: bolder;
    color: #253B73;
}
#btn-mobile {
    display: none;
}
main#conteinerhome {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 40px;
}
.divhome {
    background-color: #f3f3f3;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius: 12px;
    position: relative;
    height: fit-content;
}

/* XXXXXXXXXXXXX  CALENDARIO DESCRITIVO DE EVENTOS XXXXXXXXXXXXXXXXXX */

.evento {
    display: none;
    grid-template-columns: 1fr 5fr 1fr;
    padding: 5px;
    margin: 4px auto 4px auto;
    align-items: center;
    cursor: pointer;
    background-color: rgb(197, 244, 255);
    color: rgb(3, 78, 183);
    border-left: 5px solid rgb(80,185,250);
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}
.show {
    display: grid;
}
.filtros {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0;
}
.btFiltro {
    text-align: center;
    background-color: #fff;
    padding: 6px;
    font-size: .7rem;
    font-family: 'Roboto Condensed';
    color: rgb(111, 111, 111);
    font-weight: 500;
    border-radius: 3px;
    margin: 2px 1px;
}
.btFiltro:hover {
    cursor: pointer;
    background-color: #E7E7E7;
    /* color: #fff; */
}
.active-btn {
    background-color: #E7E7E7;
}
.azul-padrao {
    background-color: rgb(197, 244, 255);
    color: rgb(3, 78, 183);
    border-left: 5px solid rgb(80,185,250);
}
.lilas {
    border-left: 6px solid rgb(163, 70, 250);
    background-color: rgb(238, 221, 255);
    color: rgb(95, 2, 182);
}
.ouro {
    border-left: 6px solid #FFA100;
    background-color: #f9e6c5;
    color: #ac6d00;
}
.verde {
    border-left: 6px solid rgb(84, 224, 156);
    background-color: rgb(189, 255, 223);
    color: rgb(2, 155, 81);
}
.gray {
    border-left: 6px solid rgb(143, 143, 143);
    background-color: rgb(232, 232, 232);
    color: rgb(62, 62, 62);
}
.data {
   display: flex;
   flex-direction: column;
}
.dias {
    display: flex;
    justify-content: center;
}
.dia, .dia2, .a, .diaU, .mes {
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: 600;
}
.dia, .dia2 {
    font-size: 1rem;
}
.diaU {
    font-size: 1.2rem;
}
.a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 .1rem;
}
.a, .mes {
    font-size: .6rem;
}
.descricao {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: .8rem;
    padding-left: 10px;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 16px;     /* fallback */
    max-height: 32px;      /* fallback */
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
}
.resp {
    display: flex;
    justify-content: center;
    align-items: center;
}
.resp img {
    width: 20px;
    border-radius: 50%;
    background-color: #fff;
}
.body-proximoseventos {
    height: 280px;
    overflow-y: scroll;
    padding-right: 4px;
}
.body-proximoseventos::-webkit-scrollbar {
    width: 7px;
}
.body-proximoseventos::-webkit-scrollbar-thumb {
    background-color: #d0d0d0;
    border-radius: 10px;
}
.body-proximoseventos::-webkit-scrollbar-thumb:hover {
    background-color: #b6b6b6;
}
.displayToggle {
    display:grid;
}

/*=============== SEÇÃO IMPORTANT ============= */
.important {
    width: 100%;
    background-color: #fff;
    height: fit-content;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 2rem auto;
    padding: 1rem 0 2rem;
    /* border: 1px solid blue; */
}
.important a {
    margin-right: 2rem;
}
.important img {
    width: 35px;
    margin-left: 10px;
}
.restricoes {
    /* background-color: #fff; */
    padding: .5rem;
    width: fit-content;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
    font-weight: bold;
    color: #253B73;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.restricoes:hover {
    background-color: #253B73;
    cursor: pointer;
    color: #fff;
}
.restricoes div {
    margin: 1rem;
}


.conteinertitulosecao {
    background-color: #e7e7e7;
    padding: 7px 10px;
    font-size: .7rem;
    font-family: 'Roboto Condensed';
    color: rgb(80, 80, 80);
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.mais, .menos {
    padding: 5px;
    width: 10px;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: ease-in-out .1s;
    font-size: 1rem;
}
.menos {
    display: none;
}
.mais:hover, .menos:hover {
    cursor:default;
    background-color: rgb(210, 210, 210);
}
section {
    height: 300px;
    background-color: gray;
}
.links-pedagogicos {
    display: flex;
    flex-direction: column;
    padding: 3rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 15px;
}
.links-pedagogicos a {
    list-style-type: none;
    text-decoration: none;
    margin-bottom: 1rem;
    color: rgb(55, 55, 55);
    padding-left: 2rem;
}
.links-pedagogicos a:hover {
    color: #253B73;
}
details {
    margin-bottom: 1rem;
}
details > summary {
    color: #253B73;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: .6rem;
    list-style: none;
}
.details-items-box {
    display: flex;
    flex-direction: column;
    gap: .7rem;
}
.details-items-box a {
    display: flex;
}
.details-items-box img {
    width: 20px;
    margin-right: 1rem
}
.main-pedagogico {
    box-sizing: border-box;
    padding: 2rem;
    width: 90%;
    margin: auto;
    height: 500px;
    overflow-y: scroll;
    background-color: whitesmoke;
}
#ingles summary {
    color: rgb(77, 77, 77);
    font-weight: normal;
}
#ingles summary:hover {
    color: #E42C8A;
}
#ingles a {
    display: block;
    padding: 4px 10px;
    color: gray;
}
#prevAniv, #nextAniv {
    position: absolute;
    bottom: 1rem;
    font-size: .9rem;
    color: #EDC7F9;
}
#nextAniv {
    right: 2rem;
}
#prevAniv {
    left: 2rem;
}
.body {
    margin: 0;
    padding: 0 0 5rem 0;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    background: linear-gradient(45deg,#24006b,#f42f8c);
}
.title {
    color: white;
    font-size: 4rem;
    padding: 3rem 0 3rem 0;
    display: block;
    width: 100%;
    text-align: center;
    font-weight: 600;
}
.conteiner {
    width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 15px;
    margin: 0 auto;
}
.conteiner .card {
    position: relative;
    width: 300px;
    height: 400px;
    margin: 0 auto;
    background: #fff;
    box-shadow: 0 15px 60px rgba(0,0,0, .5);
}
.conteiner .card .face {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.conteiner .card .face.face1 {
    box-sizing: border-box;
    padding: 20px;
}
.conteiner .card .face.face1 h2 {
    margin: 0;
    padding: 0;
}
.conteiner .card .face.face2 {
    background: #111;
    transition: 0.5s;
}
.conteiner .card:nth-child(1) .face.face2 {
    background: linear-gradient(45deg, #3503ad, #f7308c);
}
.conteiner .card:nth-child(2) .face.face2 {
    background: linear-gradient(45deg, #CCFF00, #09AFFF);
}
.conteiner .card:nth-child(3) .face.face2 {
    background: linear-gradient(45deg, #3503ad, #f7308c);
}
.conteiner .card:hover .face.face2 {
    height: 60px;
    font-size: 2rem;
}
.conteiner .card .face.face2:before {
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, .1);
}
.conteiner .card .face.face2 h2{
    margin: 0;
    padding: 0;
    font-size: 2em;
    color: #fff;
    transition: .5s;
    text-shadow: 0 2PX 5PX rgba(0, 0, 0, .2);
}
.conteiner .card:hover .face.face2 h2{
    font-size: 1rem;
}
.horarios {
    display: block;
    padding: 8px 0;
    color: rgb(77, 77, 77);
}
.horarios:hover {
    color: #E42C8A;
}
.card:nth-child(2) .horarios:hover {
    color: #64D488;
}

/* ============ MODAL =========== */
.bgmodal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100vh;
    background-color: #000000;
    opacity: .9;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.modal {
    width: 50%;
    height: 65vh;
    background-color: #fff;
    opacity: 1;
    border-radius: 20px;
    padding: 3rem;
    position: relative;
}
.modal h1 {text-align: center; padding: 1.5rem;}
.modal ul li {
    list-style: none;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
.modal span.fechar {
    padding: .7rem 1.4rem;
    background-color: #BB2532;
    color: white;
    border-radius: 10px;
    position: absolute;
    bottom: 1rem;
    right: 50%;
    transform: translateX(50%);
    cursor: pointer;
}
.modal span.fechar:hover {
    color: black;
}
.modalOn {
    display: flex;
}
.numerosurgencia {
    color: #BB2532;
    font-weight: bolder;
}
#rh {
    width: 19px;
}
.footeradm {
    height: 200px;
}

/* ============ MEDIA QUERIES =============== */

@media (max-width: 1290px) {

    #btn-mobile {
        display: block;
        padding: .5rem 1rem;
        border-radius: 7px;
        outline: none;
        border: none;
        background-color: #253B73;
        color: #fff;
    }

    #menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 70px;
        left: 0px;
        background: lightgray;
        height: 0px;
        transition: .6s;
        z-index: 1000;
        visibility: hidden;
        overflow-y: hidden;
    }

    #nav.active #menu {
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: auto;
    }

    #menu a {
        padding: 1rem;
        margin: 0 1 rem;
        border-bottom: 2px solid rgba(0,0,0,0.05);
    }

    .modal {
        width: 75%;
        height: 70vh;
        background-color: #fff;
        opacity: 1;
        border-radius: 20px;
        padding: 2rem;
    }
    .modal h1 {padding: .3rem 0 1rem 0; font-size: 1.2rem;}
    .modal ul li {
        list-style: none;
        font-size: 1.2rem;
        font-weight: 600;
        margin-bottom: .5rem;
    }

    /* CONTEINER HOME (MAIN) */

    /* valores normais do main#conteinerhome (sem media queries)
        display: grid;
        grid-template-columns: 1fr 1fr 1.1fr .9fr;
        gap: 30px; */

    main#conteinerhome {
        padding: 20px;
        width: 100%;
        margin: 0 auto;
        grid-template-columns: 1fr 1fr;
        /* display: flex;
        flex-direction: column; */
    }

    .body { 
        height: fit-content;
        background: linear-gradient(45deg,#24006b,#f42f8c);
    }

    .divhome {
        margin-top: 2rem;
    }

    .conteiner {
        width: 95%;
        display: grid;
        grid-template-columns: 1fr;
        gap: 0px;
        margin: 1.5rem auto;
    }

    .conteiner .card {
        margin: 1rem auto;
    }

    .divhome {
        margin-top: 2rem;
    }
    
    .box-cal-num {
        margin: 2rem auto;
        height: 300px;
    }

    .restricoes {
        margin: auto;
        width: 80%;
    }

    #logo {
        margin-left: 1.5rem;
    }

    .important {
        flex-direction: column;
        padding: 0;
        width: 100%;
        margin: auto;
        margin-bottom: 4rem;
    }

    .important .cardurgentes {
        width: 100%;
        margin: 1rem 0;
        text-align: center;
    }
}

@media (max-width: 700px) {

    main#conteinerhome {
        padding: 20px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }
}
/* ============== MATRÍCULAS ============ */
.linksprincipais {
    width: 90%;
    border: 1px solid lightgray;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 1rem;
    border-radius: 10px;
}
.linksprincipais a {
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 10px;
}
.linksprincipais a:hover {
    background-color: lightgray;
}

.conteinerhorarios ul li {
    list-style: none;
}