* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}
body {
    background-color: #eeeeee;
}
.scrollTopButton {
    background-color: #253B73;
    position: fixed;
    bottom: 30px;
    right: 20px;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    color: white;
    text-decoration: none;
    opacity: 0;
    pointer-events: none;
    transition: all .4s;
    padding: 20px;
    z-index: 1000;
    cursor: pointer;
}
.scrollTopButton.active {
    bottom: 30px;
    pointer-events: auto;
    opacity: 1;
}
.scrollTopButton:hover {
    background-color: #11214a;
}
.conteinergeral {
    width: 98%;
    max-width: 1500px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    margin: auto;
    box-sizing: border-box;
    /* border: 2px solid red; */
    height: fit-content;
}
main#conteinerhome {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
}
#header, #headerAdm {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    justify-content: space-between;
    margin: 1rem 0;
    /* border: 1px solid red; */
    background-color: #253B73;
    padding: .5rem;
}
.alert_icons {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.alert_icons i {
    margin-left: 1.2rem;
}
.alert_icons span {
    margin: 0 1rem;
    color: white;
    font-size: 1.5rem;
}
#menu, #menuAdm {
    display: flex;
    justify-content: center;
    align-items: center;
}
#menu a, #menuAdm a {
    display: block;
    margin: 0 10px;
    padding: 10px 25px;
    color: #0b1634;
    color: white;
    font-weight: 600;
    border-radius: 10px;
    transition: all ease-in-out .3s;
    text-decoration: none;
}
#menu a:hover, #menuAdm a:hover {
    /* background-color: #253B73; */
    color: gray;
}
#logo, #logoAdm {
    font-size: 1.5rem;
    font-weight: bolder;
    color: #253B73;
    color: #fff;
    padding-left: 1rem;
}
#btn-mobile {
    display: none;
    color: white;
}
.divhome {
    background-color: #fff;
    border-radius: 12px;
    position: relative;
    height: 480px;
}
.divhomelinksrapidos {
    background-color: #fff;
    /* height: 480px; */
    overflow-y: hidden;
}
/* Links rápidos */
.divhomelinks {
    display: flex;
    flex-direction: column;
}
.linksuteis {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: 1.7rem;
}
.linksuteisbox {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: .5rem;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    overflow: auto;
    height: 300px;
}
/* width */
.linksuteisbox::-webkit-scrollbar {
    width: .4rem;
}
/* Track */
.linksuteisbox::-webkit-scrollbar-track {
    border-radius: 4px;
}
/* Handle */
.linksuteisbox::-webkit-scrollbar-thumb {
    background: #e9e9e9;
    border-radius: 10px;
}
/* Handle on hover */
.linksuteisbox::-webkit-scrollbar-thumb:hover {
    background: rgb(214, 214, 214);
}
.linksrapidos .img:hover {
    background-color: #ededed;
}
.img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 14px 0px;
    border-radius: 12px;
    margin: 2px;
    transition: all .3s;
}
.img i.fa-comments,
.img i#fa-calendar,
.img i#fa-envelope,
.img i.fa-desktop,
.img i#fa-chart-pie,
.img i.fa-chart-simple,
.img i.fa-bolt,
.img i.fa-chalkboard-user,
.img i.fa-suitcase-medical,
.img i#fa-briefcase-medical,
.img i#fa-unlock,
.img i#fa-file-lines,
.img i#fa-comments-dollar {
    width: 46px;
    color: #253B73;
    text-align: center;
}
.img i.fa-unlock {
    color: #253B73;
}
.legenda-links {
    font-size: .9rem;
    font-family: 'Roboto Condensed', sans-serif;
    color: rgb(169, 169, 169);
    padding-top: .5rem;
}
#bi {
    width: 57px;
}
#rh {
    width: 20px;
}
/*  Calendário Descritivo */
.evento {
    display: none;
    grid-template-columns: 1fr 5fr 1fr;
    padding: 5px;
    margin: 4px auto 4px auto;
    align-items: center;
    cursor: pointer;
    background-color: rgb(197, 244, 255);
    color: rgb(3, 78, 183);
    border-left: 5px solid rgb(80, 185, 250);
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}
.show {
    display: grid;
}
.displayToggle {
    display: grid;
}
/* width */
#modalurgencias::-webkit-scrollbar {
    width: .4rem;
}
/* Track */
#modalurgencias::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 5px grey;  */
    border-radius: 2px;
}
/* Handle */
#modalurgencias::-webkit-scrollbar-thumb {
    background: #7c7c7c;
    border-radius: 10px;
}
/* Handle on hover */
#modalurgencias::-webkit-scrollbar-thumb:hover {
    background-color: #a8a8a8;

}
#amadomenu, #fonesemergenciadomenu {
    display: none !important;
}
.conteinerhorarios ul li {
    list-style: none;
}
#arm img {
    width: 30px;
    border-radius: 50%;
}
.imgculto img {
    width: 1rem;
}
.imgcultotarde img {
    width: 1.4rem;
}
#escalacompensacao {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.conteiner {
    position: relative;
    padding: 1rem;
    width: 100%;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.fa-solid {
    font-size: 1.2rem;
    transition: ease .3s;
}
.fa-angle-left {
    left: 0;
    margin-right: 1rem;
}
.fa-angle-right {
    right: 0;
    margin-left: 1rem;
}
.item {
    width: 9rem;
    height: 9rem;
    flex-shrink: 0;
    opacity: .3;
    border-radius: 1rem;
    display: grid;
    grid-template-rows: 2.5fr 1.5fr 1fr;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border: 1px solid lightgray;
}
.superior {
    background-color: #36bedd;
    border-radius: 1rem 1rem 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.dataeventocard {
    border: 2px solid white;
    border-radius: 1rem;
    padding: .2rem 1rem;
    background-color: #fff;
}
.diaeventocard, .meseventocard {
    text-align: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: 600;
    color: #36bedd;
}
.diaeventocard {
    font-size: 1rem;
    line-height: 1.5rem;
}
.meseventocard {
    font-size: .5rem;
    letter-spacing: 1.5px;
}
.meio {
    text-align: center;
    font-size: .7rem;
    font-weight: 600;
    padding: 1rem;
    box-sizing: border-box;
}
.inferior {
    border-radius: 0 0 1rem 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 0 1rem 0;
}
.current-item {
    opacity: 1;
}
.gallery-wrapper {
    overflow-x: auto;
}
.gallery-wrapper::-webkit-scrollbar {
    display: none;
}
.gallery {
    display: flex;
    flex-flow: row nowrap;
    gap: 1rem;
}
.navbuttons {
    display: flex;
    justify-content: center;
    align-items: center;
}
.control {
    color: #36bedd;
    cursor: pointer;
    font-weight: 700;
    font-size: 1rem;
    padding: .7rem;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */

}
.control:hover {
    background-color: #eeeeee;
}
.emergenciasul {
    overflow: auto;
}
.footerprincipal {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(236, 236, 236);
    padding: 3rem 1rem;
    margin: 1rem 0 0 0;
}
.footerprincipal a {
    padding: 0 1rem;
    color: gray;
    text-decoration: none;
    font-family: 'Roboto condensed', sans-serif;
    font-size: 1rem;
}
.footerprincipal a:hover {
    text-decoration: none;
    color: #0D6EFD;
}
#linknovoatendimento {
    display: flex;
    align-items: center;
    color: #253B73;
    font-weight: 600;
}
#linknovoatendimento i {
    margin-right: .5rem;
}
/* ============ MEDIA QUERIES =============== */
@media (max-width: 1290px) {

    #botaonovoatendimento {
        display: none;
    }

    .alert_icons {
        display: none;
    }

    #amadomenu, #fonesemergenciadomenu {
        display: flex !important;
    }

    #header {
        margin: 1rem 0 0rem 0;
        width: 92%;
        margin: auto;
        padding-left: 0;
    }

    #btn-mobile {
        display: block;
        padding: .5rem 1rem;
        border-radius: 7px;
        outline: none;
        border: none;
    }

    #btn-mobile i {
        font-size: 1.5rem;
    }

    #menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 60px;
        left: 0px;
        background: #253B73;
        height: 0px;
        transition: .6s;
        z-index: 1000;
        visibility: hidden;
        overflow-y: hidden;
    }

    #nav.active #menu {
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: auto;
    }

    #menu a {
        padding: 1rem;
        margin: 0 1 rem;
        border-bottom: 2px solid rgba(0, 0, 0, 0.05);
    }

    .modal {
        width: 75%;
        height: 70vh;
        background-color: #fff;
        opacity: 1;
        border-radius: 20px;
        padding: 2rem;
    }

    .modal h1 {
        padding: .3rem 0 1rem 0;
        font-size: 1.2rem;
    }

    .modal ul li {
        list-style: none;
        font-size: 1.2rem;
        font-weight: 600;
        margin-bottom: .5rem;
    }

    main#conteinerhome {
        padding: 20px;
        width: 100%;
        margin: 0 auto;
        /* border: 1px solid red; */
        grid-template-columns: 1fr 1fr;
    }

    .body {
        height: fit-content;
        background: linear-gradient(45deg, #24006b, #f42f8c);
    }

    .divhome {
        margin-top: 2rem;
    }

    .conteiner {
        width: 95%;
        display: grid;
        grid-template-columns: 1fr;
        gap: 0px;
        margin: 1.5rem auto;
    }

    .conteiner .card {
        margin: 1rem auto;
    }

    .divhome {
        margin-top: .5rem;
    }

    
    #modalramais ul {
        width: 60%;
    }
}
@media (max-width: 1100px) {
    #modalramais ul {
        width: 70%;
    }
}
@media (max-width: 920px) {

    .important {
        flex-wrap: wrap;
        padding: 0;
        margin: 1rem auto 0 auto;
    }

    .important .cardurgentes {
        margin: 1rem;
        text-align: center;
    }

    .restricoes {
        margin: auto;
        width: 100%;
    }

    .footerprincipal {
        display: none !important;
    }

    #modalramais ul {
        width: 95%;
        height: 75vh;
        margin: 2rem auto;
        border: 1px solid gray;
        padding: 1rem;
        border-radius: 10px;
    }
    
}
@media (max-width: 700px) {

    main#conteinerhome {
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }

    .important {
        width: 94%;
    }

    .important .cardurgentes {
        width: 100%;
    }
}